<div class="container">
  <div class="add-content-container">
    <div class="knowledge-heading_3">Add Content</div>
    <div
      class="drop-container"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event)"
    >
      <div class="icon-container">
        <mat-icon svgIcon="upload"></mat-icon>
        <span>Drag and drop your new file</span>
      </div>
      <span>Or</span>
      <button
        type="button"
        class="knowledge-button"
        mat-button
        (click)="inputFiles.click()"
      >
        Browse
      </button>
    </div>
  </div>
  <div class="contribution">
    <div class="second_heading">Past Contribution</div>
    <div class="data">
      <div class="filter">
        <app-filter (formAction)="onFilter($event)"></app-filter>
      </div>
      @if (data.results.length) {
      <div class="result">
        <div class="table">
          <mat-table [dataSource]="data.results">
            <ng-container matColumnDef="fileName">
              <mat-header-cell *matHeaderCellDef>File Name</mat-header-cell>
              <mat-cell
                #fileName
                [matTooltip]="
                  fileName.scrollWidth > fileName.clientWidth
                    ? element.name
                    : ''
                "
                [class.about-to-delete]="
                  element.id == aboutToDeleteContribution
                "
                *matCellDef="let element"
              >
                {{ element.name }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="industry">
              <mat-header-cell *matHeaderCellDef>Industry</mat-header-cell>
              <mat-cell
                #industry
                [matTooltip]="
                  industry.scrollWidth > industry.clientWidth
                    ? (element.industry_output | map : 'industry').join(', ')
                    : ''
                "
                [class.about-to-delete]="
                  element.id == aboutToDeleteContribution
                "
                *matCellDef="let element"
              >
                @for (industry of element.industry_output; track $index) {
                {{ industry.industry
                }}{{ $index >= element.industry_output.length - 1 ? "" : ", " }}
                }
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fileType">
              <mat-header-cell *matHeaderCellDef>File Type</mat-header-cell>
              <mat-cell
                [class.about-to-delete]="
                  element.id == aboutToDeleteContribution
                "
                *matCellDef="let element"
                class="file-type"
              >
                {{ element.file_type }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tags">
              <mat-header-cell *matHeaderCellDef>Tags</mat-header-cell>
              <mat-cell
                #tags
                [class.about-to-delete]="
                  element.id == aboutToDeleteContribution
                "
                *matCellDef="let element"
              >
                <div
                  #tagDiv
                  class="tag-row"
                  appTagColumn
                  [tags]="element.tags_output | map : 'name'"
                  [matTooltip]="
                    tagDiv.getElementsByClassName('more').length
                      ? (element.tags_output | map : 'name').join(', ')
                      : ''
                  "
                ></div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
              <mat-cell
                [class.about-to-delete]="
                  element.id == aboutToDeleteContribution
                "
                *matCellDef="let element"
              >
                <button
                  type="button"
                  mat-icon-button
                  (click)="editContribution(element)"
                >
                  <mat-icon class="action" svgIcon="edit"></mat-icon>
                </button>
                <button
                  type="button"
                  mat-icon-button
                  (click)="openConfirmDelete(element)"
                >
                  <mat-icon class="action" svgIcon="delete"></mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
              <mat-cell
                [class.about-to-delete]="
                  element.id == aboutToDeleteContribution
                "
                *matCellDef="let element"
              >
                {{ element.modified_at | date : "shortDate" }}
              </mat-cell>
            </ng-container>
            <mat-header-row
              class="header-row"
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></mat-header-row>
            <mat-row
              class="table-row"
              *matRowDef="let row; columns: displayedColumns"
            ></mat-row>
          </mat-table>
        </div>
        <div class="table-footer">
          <div class="footer-content">
            <button
              type="button"
              class="knowledge-button"
              mat-button
              (click)="loadNext()"
              [disabled]="!data.next"
            >
              Load More
            </button>
            <div>
              {{ data.results.length + " " }}<span>out of</span
              >{{ " " + data.count }}
              <span>shown</span>
            </div>
          </div>
        </div>
      </div>
      } @else {
      <div class="not-data">
        <img src="/assets/images/no_data.png" alt="no_data_found" />
        <span>No Data Found</span>
      </div>
      }
    </div>
  </div>
</div>

<ng-template #thanksForUploading>
  <div class="thanks-template">
    <mat-icon svgIcon="check"></mat-icon>
    <div class="title">Thank you for uploading the document.</div>
    <div class="description">
      We have stored the document with relevant tags in our respository
    </div>
  </div>
</ng-template>
<ng-template #confirmDelete>
  <div class="confirm-template">
    <mat-icon svgIcon="alert"></mat-icon>
    <div>
      <div class="title">
        Do you really want to delete this file permanently?
      </div>
      <div class="description">This action cannot be undone.</div>
    </div>
    <div class="action">
      <button
        type="button"
        (click)="cancelDelete()"
        mat-button
        class="knowledge-button cancel"
      >
        Cancel
      </button>
      <button
        type="button"
        (click)="deleteContribution()"
        mat-button
        class="knowledge-button"
      >
        Delete
      </button>
    </div>
  </div>
</ng-template>
